@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/100850610?v=4" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Mssv: 21522778</p>
                    <p class="card-text">Họ và tên: Lê Văn Tuyến</p>
                    <p class="card-text">Khoa: MMTT</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/100850610?v=4" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Mssv: 21522778</p>
                    <p class="card-text">Họ và tên: Lê Văn Tuyến</p>
                    <p class="card-text">Khoa: MMTT</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/100850610?v=4" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Mssv: 21522778</p>
                    <p class="card-text">Họ và tên: Lê Văn Tuyến</p>
                    <p class="card-text">Khoa: MMTT</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://avatars.githubusercontent.com/u/100850610?v=4" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Mssv: 21522778</p>
                    <p class="card-text">Họ và tên: Lê Văn Tuyến</p>
                    <p class="card-text">Khoa: MMTT</p>
                </div>
            </div>
        </div>
    </div>
</div>